@import "~bootstrap/scss/bootstrap";

#header{
    background-color:#d0ffff;
}
#footer{
    background-color:#ffd0ff;
}
#sidebar{
    background-color:#ffffd0;
}
#main{
    background-color:#d0d0d0;
}