@import "~bootstrap/scss/bootstrap";

#header{
    background-color:#d0ffff;
    background: url(../images/awagu39.png);
}
#footer{
    background-color:#ffd0ff;
    background: url(../images/awagu40.png?width=64);
}
#sidebar{
    background-color:#ffffd0;
    background: url('data-url:../images/awagu41.png?width=128');
}
#main{
    background-color:#d0d0d0;
    background: url('data-url:../images/awagu42.png');
}